body {
    background-color: rgb(250, 242, 232);
}

.carousel-inner {
    height: 0;
    padding-bottom: 75%; /* this sets carousel aspect ratio (4:1 here) */
}

.carousel-item {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
left: 0;
    }

.carousel-item img {
    height:75%;
    object-fit:contain;
}

footer {
    width: 100%;
}

.mt-4 {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    width: 100px;
    height: 40px;
    margin: 0 auto;
    animation: bounce 2s infinite;
}
