body {
    background-color: rgb(212, 192, 170);
}

.carousel-inner {
    height: 0;
    padding-bottom: 75%; /* this sets carousel aspect ratio (4:1 here) */
}

.carousel-item {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
left: 0;
    }

.carousel-item img {
    height:75%;
    object-fit:contain;
}

footer {
    width: 100%;
}
